node_modules
dist
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/numbers.js
/numbers.spec.js

# Output
jest.json
results.json
junit.xml
results.xml
tmp

debug.log
yarn-error.log

# Docker base files
/in
/out
/production_node_modules
/package.template.json

# Fixture development files
/test/fixtures/**/node_modules
/test/fixtures/**/package-lock.json
/test/fixtures/**/results.json
