# This workflow will do a clean install of node dependencies and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: javascript-test-runner / main

on:
  push:
    branches: [main]

jobs:
  precheck:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Use Node.js LTS
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version-file: .nvmrc

      - name: Install project dependencies
        run: |
          corepack enable pnpm
          corepack pnpm -v
          corepack pnpm install --frozen-lockfile

      - name: Run exercism/javascript-test-runner ci precheck (lint code)
        run: bin/lint.sh

  ci:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install project dependencies
        run: |
          corepack enable pnpm
          corepack pnpm -v
          corepack pnpm install --frozen-lockfile

      - name: Build the test-runner (using Node ${{ matrix.node-version }})
        run: bin/test.sh

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349
        with:
          install: true

      - name: Build Docker image and store in cache
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          push: false
          load: true
          tags: exercism/javascript-test-runner
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
