name: javascript-test-runner / format

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-22.04
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Use Node.js LTS (20.x)
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 20.x

      - name: Enable pnpm
        run: |
          corepack enable pnpm
          corepack pnpm -v

      - name: 'Verify formatting of all files'
        run: ./bin/check-formatting.sh
